.content {
    margin-left: 15px;
    /* overflow: auto; */
    padding-top: 0px;
    padding-bottom: 0px

    /* padding-top: 50px; */
}

.contenta {
    margin-left: 15px;
    /* overflow: auto; */
    padding-bottom: 0px

    /* padding-top: 50px; */
}

.headinga {
    margin-left: 15px;
    padding-top: 65px;
    padding-bottom: 5px;
    font-size: 14pt;
}

.headingb {
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 14pt;
}

.border {
    border: solid;
    border-width: 2px;
    width: 30%;
    padding: 8px;
    text-align: left;
}

/* navbar background and positioning*/
.navbar {
    overflow: auto;
    margin-left: 0px;
    background-color: #0004ff;
    position: fixed;
    width: 100%;
    height: 50px;
    float: auto;
}

/* navbar title */
.navbar h2 {
    margin-top: 12px;
    /* float: left; */
    position: fixed;
    display: block;
    color: #ffffff;
    text-align: left;
    padding-left: 16px;
    padding-top: 0px;
    text-decoration: none;
}

@media only screen and (max-device-width: 480px) {
.border {
    font-size: 12pt;
    border: solid;
    border-width: 2px;
    width: 95%;
    padding: 8px;
    text-align: left;
}
}